LLAMA_CPP_MODEL_PATH=
LLAMA_CPP_MODEL_ID=
LLAMA_CPP_MODEL_FILE=
LLAMA_CPP_MODEL_DIR=./models
LLAMA_CPP_REVISION=
LLAMA_CPP_CTX=4096
LLAMA_CPP_N_GPU_LAYERS=0
LLAMA_CPP_THREADS=0
LLAMA_CPP_TEMPERATURE=0.2
LLAMA_CPP_HOST=127.0.0.1
LLAMA_CPP_PORT=9100
