{
  "audio": {
    "endpoints": [
      {
        "url": "http://127.0.0.1:9092/v1/audio/transcriptions",
        "method": "POST",
        "timeout": 30,
        "forward_form": true,
        "headers": {}
      }
    ]
  },
  "screen": {
    "endpoints": [
      {
        "url": "http://127.0.0.1:9091/ocr",
        "method": "POST",
        "timeout": 30,
        "forward_form": true,
        "headers": {}
      }
    ]
  }
}
